ul(class="breadcrumb") 
  each item,index in breadcrumb
    li(class=(index==breadcrumb.length-1 ? 'active' : ''))
      if index!=breadcrumb.length-1
        a(href=item.link) 
          =item.page
      else
         =item.page