.header
  .container
    a(class="site-logo",href="index.html")
      img(src="corporate/img/logos/logo-corp-red.png",alt="Metronic FrontEnd")
    a(href="javascript:void(0);",class="mobi-toggler")
      i(class="fa fa-bars")
    div(class="header-navigation pull-right font-transform-inherit")
      ul
        li(class="dropdown")
          a(class="dropdown-toggle",data-toggle="dropdown",data-target="#",href="javascript:;") Home
          ul(class="dropdown-menu")
            li(class="active")
              a(href="#") Home Default
            li
              a(href="#") Home with header fixed
            li
              a(href="#") Home without top bar
        li(class="dropdown")
          a(class="dropdown-toggle",data-toggle="dropdown",data-target="#", href="javascript:;") Blog
          ul(class="dropdown-menu")
            li
              a(href="#") Blog1
            li
              a(href="#") Blog2
        li(class="dropdown")
          a(href="javascript:;",data-target="#",data-toggle="dropdown",class="dropdown-toggle") Mega Menu
          ul(class="dropdown-menu")
            li
              div(class="header-navigation-content")
                .row
                  div(class="col-md-4 header-navigation-col")
                    h4 Menu
                    ul
                     li 
                       a(href="#") menu
                     li
                       a(href="#") menu
                     li 
                       a(href="#") menu
                     li
                       a(href="#") menu
                     li 
                       a(href="#") menu
                     li
                       a(href="#") menu
                  div(class="col-md-4 header-navigation-col")
                    h4 Menu
                    ul
                     li 
                       a(href="#") menu
                     li
                       a(href="#") menu
                     li 
                       a(href="#") menu
                     li
                       a(href="#") menu
                  div(class="col-md-4 header-navigation-col")
                    h4 Menu
                    ul
                     li 
                       a(href="#") menu
                     li
                       a(href="#") menu
                     li 
                       a(href="#") menu
                     li
                       a(href="#") menu
                    h4 Menu
                    ul
                     li 
                       a(href="#") menu
                     li
                       a(href="#") menu