.pre-footer
  .container
    .row
    div(class="col-md-4 col-sm-6 pre-footer-col")
      h2 About us
      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam sit nonummy nibh euismod tincidunt ut laoreet dolore magna aliquarm erat sit volutpat.
    div(class="col-md-4 col-sm-6 pre-footer-col")
      h2 Our Contacts
      address(class="margin-bottom-40") 35, Lorem Lis Street, Park Ave <br> California, US<br> Phone: +65 81226418<br> Email: <a href="mailto:narendrasoni2@@gmail.com">narendrasoni2@gmail.com</a><br> Skype: <a href="skype:narendra.soni67">narendra</a>