//- includes/head.pug
head
block title
  title Default title
link(rel='shortcut icon' href='favicon.ico')
//link(rel='stylesheet', href='/stylesheets/style.css')
link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all',rel='stylesheet' type='text/css')
     
link(href='/plugins/font-awesome/css/font-awesome.min.css',rel='stylesheet')
link(href='/plugins/bootstrap/css/bootstrap.min.css',rel='stylesheet')

link(href='/pages/css/animate.css',rel='stylesheet')
link(href='/plugins/fancybox/source/jquery.fancybox.css',rel='stylesheet')
link(href='/plugins/owl.carousel/assets/owl.carousel.css',rel='stylesheet')

link(href='/pages/css/components.css',rel='stylesheet')
link(href='/pages/css/slider.css',rel='stylesheet')
link(href='/corporate/css/style.css', rel='stylesheet')
link(href='/corporate/css/style-responsive.css',rel='stylesheet')
link(href='/corporate/css/themes/turquoise.css',rel='stylesheet',id='style-color')
link(href='/corporate/css/custom.css', rel='stylesheet')