Hero carousel
div(class="page-slider margin-bottom-40")
  div(div id="carousel-example-generic", class="carousel slide carousel-slider")
    ol(class="carousel-indicators carousel-indicators-frontend")
      li(data-target="#carousel-example-generic",data-slide-to="0",class="")
      li(data-target="#carousel-example-generic",data-slide-to="1",class="active")
      li(data-target="#carousel-example-generic",data-slide-to="2",class="")
    
    div(class="carousel-inner",role="listbox")
      
      div(class="item carousel-item-eight")
        .container
          div(class="carousel-position-six text-uppercase text-center")
            h2(class="margin-bottom-20 animate-delay carousel-title-v5",data-animation="animated fadeInDown")
              Expore the power <br>
              span(class="carousel-title-normal") of Metronic
            p(class="carousel-subtitle-v5 border-top-bottom margin-bottom-30" data-animation="animated fadeInDown") This is what you were looking for
            a(class="carousel-btn-green",href="#",data-animation="animated fadeInUp") Purchase Now!

      div(class="item carousel-item-nine active")
        .container
          div(class="carousel-position-six")
            h2(class="animate-delay carousel-title-v6 text-uppercase",data-animation="animated fadeInDown") Need a website?
            p(class="carousel-subtitle-v6 text-uppercase" data-animation="animated fadeInDown") This is what you were looking for
            

      div(class="item carousel-item-ten")
        .container
          div(class="carousel-position-six")
            h2(class="animate-delay carousel-title-v6 text-uppercase",data-animation="animated fadeInDown") Powerful &amp; Clean
            p(class="carousel-subtitle-v6 text-uppercase" data-animation="animated fadeInDown") Responsive Website &amp; Admin Theme
            p(class="carousel-subtitle-v7 margin-bottom-30" data-animation="animated fadeInDown") Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/>
            


      a(class="left carousel-control carousel-control-shop carousel-control-frontend" ,href="#carousel-example-generic",role="button",data-slide="prev")
        i(class="fa fa-angle-left",aria-hidden="true")
      a(class="right carousel-control carousel-control-shop carousel-control-frontend",href="#carousel-example-generic",role="button",data-slide="next")
        i(class="fa fa-angle-right",aria-hidden="true")