.main
  .container
    div(class="row recent-work margin-bottom-40")
      div(class="col-md-12")
        div(class="owl-carousel owl-carousel5")
          .recent-work-item
            em
              img(src="pages/img/works/img1.jpg", alt="Amazing Project", class="img-responsive")
              a(href="#")
                i(class="fa fa-link")
              a(href="pages/img/works/img1.jpg", class="fancybox-button", title="Project title", data-rel="fancybox-button")
                i(class="fa fa-search")
            a(class="recent-work-description",href="javascript;")
              strong Amazing Project
              b Agenda. Corp.
          .recent-work-item
            em
              img(src="pages/img/works/img2.jpg", alt="Amazing Project", class="img-responsive")
              a(href="#")
                i(class="fa fa-link")
              a(href="pages/img/works/img2.jpg", class="fancybox-button", title="Project title", data-rel="fancybox-button")
                i(class="fa fa-search")
            a(class="recent-work-description",href="javascript;")
              strong Amazing Project
              b Agenda. Corp.
          .recent-work-item
            em
              img(src="pages/img/works/img3.jpg", alt="Amazing Project", class="img-responsive")
              a(href="#")
                i(class="fa fa-link")
              a(href="pages/img/works/img3.jpg", class="fancybox-button", title="Project title", data-rel="fancybox-button")
                i(class="fa fa-search")
            a(class="recent-work-description",href="javascript;")
              strong Amazing Project
              b Agenda. Corp.
          .recent-work-item
            em
              img(src="pages/img/works/img4.jpg", alt="Amazing Project", class="img-responsive")
              a(href="#")
                i(class="fa fa-link")
              a(href="pages/img/works/img4.jpg", class="fancybox-button", title="Project title", data-rel="fancybox-button")
                i(class="fa fa-search")
            a(class="recent-work-description",href="javascript;")
              strong Amazing Project
              b Agenda. Corp.
          .recent-work-item
            em
              img(src="pages/img/works/img5.jpg", alt="Amazing Project", class="img-responsive")
              a(href="#")
                i(class="fa fa-link")
              a(href="pages/img/works/img5.jpg", class="fancybox-button", title="Project title", data-rel="fancybox-button")
                i(class="fa fa-search")
            a(class="recent-work-description",href="javascript;")
              strong Amazing Project
              b Agenda. Corp.