.main
  .container
    div(class="row quote-v1 margin-bottom-30")
      .col-md-9
        span  Metronic - The Most Complete &amp; Popular Admin &amp; Frontend Theme
      div(class="col-md-3 text-right")
        a(class="btn-transparent",href="#")
          i(class="fa fa-rocket margin-right-10") Preview Admin