.main
  .container
    div(class="row service-box margin-bottom-40")
      div(class="col-md-4 col-sm-4")
        .service-box-heading
          em
            i(class="fa fa-location-arrow blue")
          span Multipurpose Template
        p Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde omnis iste natus error sit voluptatem.
      div(class="col-md-4 col-sm-4")
        .service-box-heading
          em
            i(class="fa fa-check red")
          span Well Documented
        p Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde omnis iste natus error sit voluptatem.
      div(class="col-md-4 col-sm-4")
        .service-box-heading
          em
            i(class="fa fa-compass green")
          span Responsive Design
        p Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde omnis iste natus error sit voluptatem.