div(class="sidebar col-md-3 col-sm-3")
  ul(class="list-group margin-bottom-25 sidebar-menu") 
    li(class="list-group-item clearfix")
      a(href="/login")
        i(class="fa fa-angle-right")
          span(class="sidebar-menu-space") Login
    li(class="list-group-item clearfix")
      a(href="/register")
        i(class="fa fa-angle-right")
          span(class="sidebar-menu-space") Register