div(class='pre-header')
  div(class='container')
    div(class='row')
      div(class='col-md-6 col-sm-6 additional-shop-info')
        ul(class="list-unstyled list-inline")
          li
            i(class="fa fa-phone")
            span +1 456 6717
          li
            i(class="fa fa-envelope-o")
            span info@keenthemes.com
      div(class='col-md-6 col-sm-6 additional-nav')
        ul(class="list-unstyled list-inline pull-right")
          li
            a(href="page-login.html") Log In
          li
            a(href="page-reg-page.html") Registration