doctype html
html
  include ../partials/head.pug
  body(class='corporate')
    include ../partials/topbar.pug
    include ../partials/default_topmenubar.pug
    //include ../partials/hero_carousel.pug
    //include ../partials/image_holder.pug
    //include ../partials/quote.pug
    block content
    include ../partials/footer.pug